<section>
  <div class="intestation">
    <h1><u>CHI SONO</u></h1>
  </div>
  <main>
    <div>
      <span>
        <h2>Ciao</h2>
        <p>Sono una persona precisa, seria e professionale.</p>
        <p>Sono pronto a imparare e disponibile a lavorare in team per il raggiungimento degli obiettivi prefissati</p>
        <img src="/assets/chisono/waving-hand.png" alt="waving-hand">
      </span>
    </div>
    <div>
      <span>
        <h2>Il sito web</h2>
        <p>Ho creato questo sito web innanzitutto per presentarmi e poi per cimentarmi e capire come fare un proprio sito.</p>
        <p>Il progetto è interamente sviluppato in Angular.</p>
        <img src="/assets/chisono/code.png" alt="pc">
      </span>
    </div>
  </main>
</section>
