section {
  margin: 2rem 14rem;

  .intestation{
    display: flex;
    justify-content: center;
    h1{
      font-size: 2rem;
      font-weight: bold;
      color: crimson;
    }
  }

  main{
    display: flex;

    div{
      width: 50%;
      padding: 1rem;

      span{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h2{
          text-align: center;
          font-size: 2rem;
        }

        p{
          font-size: 1.5rem;
        }

        img{
          width: 40%;
        }
      }
    }
  }
}
