<section [@animation]>
  <main>
    <div class="presentation">
      <h1>Ciao!</h1>
      <h1>Sono <span>Luciano</span></h1>

        <ngx-typed-js
          [strings]="presentationsItems"
          [loop]="true"
          [typeSpeed]="50"
          [showCursor]="true"
          [backSpeed]="30"
        >
          <h1>e sono:
            <span class="typing"></span>
          </h1>
        </ngx-typed-js>

      <button type="button" class="btn btn-danger btn-lg" (click)="download()">Curriculum Vitae</button>
    </div>
    <div class="photo">
      <img src="/assets/home/foto-cv.png" alt="foto-profilo">
    </div>
  </main>
  <div class="contacts">
    <a [href]="linkedinLink" target="_blank">
      <i class="fa fa-brands fa-linkedin"></i>
    </a>
    <a [href]="emailLink" target="_blank">
      <i class="fa fa-solid fa-envelope"></i>
    </a>
    <a [href]="githubLink" target="_blank">
      <i class="fa fa-brands fa-github"></i>
    </a>
  </div>
</section>
