<section>
  <main>
    <div class="presentation">
      <h1>Ciao!</h1>
      <h1>Sono <span>Luciano</span></h1>
      <h1 class="changes">e sono: {{ presentationsItems[currentIndex] }}</h1>
      <button type="button" class="btn btn-danger btn-lg" (click)="download()">Curriculum Vitae</button>
    </div>
    <div class="photo">
      <img src="/assets/home/foto.png" alt="foto-profilo">
    </div>
  </main>
  <div class="contacts">
    <a [href]="linkedinLink" target="_blank">
      <i class="fa fa-brands fa-linkedin"></i>
    </a>
    <a [href]="emailLink" target="_blank">
      <i class="fa fa-solid fa-envelope"></i>
    </a>
    <a [href]="githubLink" target="_blank">
      <i class="fa fa-brands fa-github"></i>
    </a>
  </div>
</section>
