<section [@animation]>
  <div class="intestation">
    <h1><u>CONTATTAMI</u></h1>
  </div>
  <main>
    <div>
      <div class="text-center">
        <h2>Hai delle domande?</h2>
        <h2>O semplicemente vuoi parlare di qualcosa?</h2>
        <div>
          <h2>Scrivimi!</h2>
          <picture>
            <img class="img-mail" src="https://d33wubrfki0l68.cloudfront.net/08410ce2cf34f129b7fd89cada11458fb69836bb/584bd/assets/site/mail.svg" alt="mail">
          </picture>
          <a href="mailto:mai@email.com" class="mail">cecereluciano@gmail.com</a>
        </div>
      </div>
    </div>
  </main>
</section>
